@import "tailwindcss";

body {
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

iframe.skiptranslate {
  display: none !important;
  background-color: #111827 !important;
}

body {
  top: 0px !important;
}
#goog-gt-votingInputVote {
  background-color: blue;
}
