@import "tailwindcss";

body {
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

iframe.skiptranslate {
  display: none !important;
  background-color: #111827 !important;
}

body {
  top: 0px !important;
}
#goog-gt-votingInputVote {
  background-color: blue;
}

/* Hide floating price box and extra buttons */
.tv-floating-toolbar,
.tv-snapshot-button,
.tv-control-bar__wrap--left {
  display: none !important;
}

/* Hide price bubble box on right */
[data-role="price-scale"] .value-mark {
  display: none !important;
}
#tradingview_f933e {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white text-black dark:bg-[#111827] dark:text-white;
}
