@import "tailwindcss";

body {
  font-family: Poppins, sans-serif;
}

/* Hide ugly Google logo and unwanted text */
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: white !important;
}
.goog-te-gadget-simple {
  background-color: #1f2937 !important; /* Tailwind dark bg */
  border: 1px solid #374151 !important; /* Tailwind border color */
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.goog-te-gadget-simple span {
  color: white !important;
}

/* Shrink and align Google Translate nicely */
#google_translate_element {
  transform: scale(0.8); /* scale it smaller */
  transform-origin: top right; /* keep it aligned */
}
.goog-te-gadget-simple {
  padding: 4px 8px !important; /* smaller padding */
  line-height: 1rem !important; /* tighter line height */
}
animate-spin-slow:hover {
  animation-play-state: paused;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
